*:focus:not(.focus-visible) {
  outline: none;
}

html {
  background-color: #fcfbf4;
  font-family: 'Raleway', sans-serif;
}

.header {
  text-align: center;
  font-size: 30px;
  color: #F7EDF0;
  background-color: #f4b4b1;
  padding: 5px;
  width: 100vw;
}

.header a:visited{
  color: white;
}

navbar a{
  text-decoration: none;
  color: white;
}

navbar a:visited {
  color: white;
}

navbar h5 {
  transition: all 0.2s;
  color: white;
  font-weight: 900;
}

a:hover {
  background-color: white;
  color: #6f6e72;
}

button {
  transition: all 0.2s;
}

nav {
  text-align: center;
  background-color: #d7d0d0;
  padding: 5px;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

li {
  list-style-type: none;
}

input {
  margin: 5px;
}

.logs-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  color: #6f6e72;
}

.log-post-container {
  display: flex;
  border: 1px solid #6f6e72;
  margin: 20px auto;
  padding: 10px;
  width: 400px;
  justify-content: center;
}

.log-post-container button:hover {
  background-color: #6f6e72;
  color: #F7EDF0;
}

.log-post-content {
  width: 250px;
  max-width: 250px;
  align-content: center;
  margin: 0px auto;
}

.log-post-content h4 {
  margin: 0px auto;
}

.create-log-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px auto 10px;
  max-width: 250px;
}

.log-post-content a {
  color: #6f6e72;
}

.log-post-content h4 {
  font-size: 18px;
}

.log-post-content p {
  font-size: 16px;
}

.create-log-form {
  display: flex;
  flex-direction: column;
}

.create-log-form input {
  margin: 0px 0px 7px 0px;
}

.create-log-form button {
  margin-top: 5px;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #6f6e72;
  color: #6f6e72;
}

.create-log-form button:hover {
  background-color: #6f6e72;
  color: #F7EDF0;
}

.edit-log-section button {
  margin: 0px 5px 0px 0px;
  background-color: transparent;
  max-width: 120px;
  max-height: 40px;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #6f6e72;
  color: #6f6e72;
}

#log-routine-button {
  background-color: transparent;
  max-width: 120px;
  margin: 0px auto;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #6f6e72;
  color: #6f6e72;
}

#log-routine-button:hover {
  background-color: #6f6e72;
  color: #F7EDF0;
}

#add-routine-button {
  background-color: transparent;
  max-width: 120px;
  margin: 0px auto;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #6f6e72;
  color: #6f6e72;
}

#add-routine-button:hover {
  background-color: #6f6e72;
  color: #F7EDF0;
}

.routine h4 {
  margin: 0px;
}

.routine {
  width: 350px;
  max-width: 350px;
  border: 1px solid #6f6e72;
  margin: 20px auto;
  padding: 20px 20px 20px 30px;
}

.routine p {
  font-size: 16px;
}

.routine h4 {
  font-size: 18px;
}

.routines-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  width: 400px;
  color: #6f6e72;
}

.routines-list-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
}

.edit-routine-container {
  margin-bottom: 5px;
  justify-content: center;
}

.edit-routine-container form {
  display: flex;
  flex-direction: column;
}

.edit-routine-container form input {
  width: 300px;
  max-width: 300px;
  margin: 0px 0px 5px 0px;
}

.edit-routine-container label {
  font-size: 14px;
  margin-bottom: 2px;
}

.edit-routine-container select {
  margin-bottom: 5px;
  max-width: 300px;
}

.edit-routine-section button {
  margin: 0px 5px 0px 0px;
  background-color: transparent;
  max-width: 300px;
  max-height: 40px;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #6f6e72;
  color: #6f6e72;
}

.edit-routine-section button:hover {
  background-color: #6f6e72;
  color: #F7EDF0;
}

.add-routine-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-routine-container form {
  display: flex;
  flex-direction: column;
}

.add-routine-container form input {
  margin: 0px 0px 5px 0px;
}

.add-routine-container form select {
  margin-bottom: 5px;
}

.add-routine-container form button {
  margin-top: 5px;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #6f6e72;
  color: #6f6e72;
}

.bold-text {
  font-weight: bold;
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 20px auto;
  align-items: center;
  color: #6f6e72;
}

.products-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #6f6e72;
  width: 400px;
  text-align: left;
}

.add-product-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
}

.add-product-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.add-product-container form button {
  margin-top: 5px;
  background-color: transparent;
  padding: 5px 5px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #6f6e72;
  color: #6f6e72;
}

#product-add-button {
  background-color: transparent;
  max-width: 120px;
  max-height: 40px;
  margin: 0px auto;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #6f6e72;
  color: #6f6e72;
}

#product-add-button:hover {
  background-color: #6f6e72;
  color: #F7EDF0;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@media only screen and (max-width: 500px) {
  .log-post-container {
    max-width: 250px;
  }

  .create-log-form input {
    margin: 0px 0px 12px 0px;
  }

  .routine {
    max-width: 250px;
  }
}

@media only screen and (max-width: 380px) {
  .routines-container {
    max-width: 200px;
  }

  .routines-list-container {
    max-width: 200px;
  }

  .routine {
    max-width: 200px;
    padding: 5px;
  }

  .add-routine-container form select {
    max-width: 150px;
  }

  .products-list-container {
    max-width: 200px;
  }

  .product-container ul {
    padding: 0px;
  }
}