.header {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: lightpink;
  padding: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

nav {
  text-align: center;
  background-color: lightgrey;
  padding: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

