.header {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: lightpink;
  padding: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

nav {
  text-align: center;
  background-color: lightgrey;
  padding: 5px;
}

.logs-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.log-post-container {
  display: flex;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
  width: 400px;
  justify-content: center;
}

.log-post-content {
  width: 350px;
}

.create-log-container {
  display: flex;
  justify-content: center;
  margin: 5px auto 20px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

