html {
  background-color: #fcfbf4;
}

.header {
  text-align: center;
  font-size: 30px;
  color: #F7EDF0;
  background-color: #f4b4b1;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

nav {
  text-align: center;
  background-color: lightgrey;
  padding: 5px;
  position: absolute;
  width: 100vw;
}

li {
  list-style-type: none;
}

.logs-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  max-width: 450px;
}

.log-post-container {
  display: flex;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
  width: 400px;
  justify-content: center;
}

.log-post-content {
  width: 350px;
}

.create-log-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px auto 10px;
  max-width: 250px;
}

#log-routine-button {
  background-color: transparent;
  max-width: 120px;
  margin: 0px auto;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid
}

.create-log-form {
  margin-left: 5px;
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.products-list-container {
  display: flex;
  justify-content: center;
  text-align: left;
}

.routines-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.routines-list-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
}

.routine {
  width: 350px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@media (max-width: 500px) {

}